.Users {
  width: @appWidth;

  margin: 20px auto;

  .UsersTitle {
    width: 150px;

    margin: 10px auto;

    font-size: @titleFontSize;

    border-bottom: 1px solid @themeColor;
  }

  .User {
    margin: 5px;

    font-size: @textFontSize;
  }
}
